.btn-grey {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
}

.active.btn-grey, .btn-grey:hover {
  background-color: #666;
  color: white;
}